services:

  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:8000"
    env_file: 
    - path: ./default.env
    environment:
      - NODE_ENV=development
    depends_on:
      - auth
      - user
      - analytics
      - market
  
  auth:
    build: ./auth
    env_file: 
    - path: ./default.env
  
  user:
    build: ./user
    env_file: 
    - path: ./default.env
  
  analytics:
      build: ./analytics
      env_file: 
      - path: ./default.env
    
  market:
    build: ./market
    env_file: 
    - path: ./default.env
    ports:
      - "8000:8000"
