version: '3.8'
services:
  # API gateway
  api-gateway-s:
    build: ./api-gateway-s
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - auth-s
      - user-s
  
  # auth service
  auth-s:
    build: ./auth-s
    environment:
      - PORT=3001
  
  # user service
  user-s:
    build: ./user-s
    environment:
      - PORT=3002
  
  # python analytics service
  analytics-s:
      build: ./analytics-s
      ports:
        - "3003:3003"
      environment:
        - PORT=3003
    
  # python market service
  market-service:
    build: ./market-s
    ports:
      - "3004:3004"
    environment:
      - PORT=3004