services:

  api-gateway:
    build: ./services/api-gateway
    ports:
      - "3000:8000"
    env_file: 
    - path: ./default.env
    environment:
      - NODE_ENV=development
    depends_on:
      - auth
      - user
      - analytics
      - market
  
  auth:
    build: ./services/auth
    env_file: 
    - path: ./default.env
    environment:
      - DB_HOST=database
      - DB_PORT=3306
      - DB_NAME=finus
      - DB_USER=finus_app
      - DB_PASSWORD=password
    depends_on:
      - database
  
  user:
    build: ./services/user
    env_file: 
    - path: ./default.env
  
  analytics:
      build: ./services/analytics
      env_file: 
      - path: ./default.env
    
  market:
    build: ./services/market
    env_file: 
    - path: ./default.env

  #connect manually with `mysql -h 127.0.0.1 -P 3306 -u root -p`
  database:
    image: mysql:8.0-debian
    volumes: 
    - db_data:/var/lib/mysql
    - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    secrets:
      - db_root_password
      - db_password
    environment:
      - MYSQL_DATABASE=finus
      - MYSQL_USER=finus_app
      - MYSQL_ROOT_PASSWORD=a
      - MYSQL_PASSWORD=password
    ports:
      - "3306:3306"


secrets: 
  db_root_password: 
    file: db_root_password.txt
  db_password: 
    file: db_password.txt

volumes: 
  db_data: 
